html {
  height: 100%;
}

body {
  background-color: #fbfbfb;
  margin: 0;
  height: 100%;
}

.header {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  height: 80px;

  padding-left: 16.7%;
}

.header-buttons {
  width: 244px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-button {
  width: 117px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #ffcd00;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.header-button:hover {
  border-radius: 4px;
  border: solid 1px #ffcb05;
  background-color: #ffcb05;
}

.header-button-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #393939;
}

.footer {
  margin-top: 56px;
}

.footer .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 16.7%;
  width: 960px;
}

.footer .links .link {
  height: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #706f6f;
  text-decoration: underline;
}

.footer .info {
  height: 64px;
  background-color: #f5f5f8;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .info .info-label {
  height: 16px;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #393939;
}

.generic-digiposte-container {
  grid-column-start: 2;
  grid-column-end: 2;
  width: 960px;

  padding-left: 16.7%;
}

.generic-digiposte-main-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #393939;
  text-align: center;
  margin: 32px 0;
}

.generic-digiposte-main {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  padding: 1.7% 15.2% 1.7% 15.2%;
  color: #706f6f;
}

.footer .info .footer-logo {
  width: 62px;
  height: 20px;
  margin-left: 5px;
}

.line-separator {
  margin: 0 5px;
  display: flex;
  align-items: center;
  height: 0.4em;
}

li {
  margin-bottom: 10px;
}

li::marker {
  color: #5c5bff;
}

.generic-digiposte-main-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #393939;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
}

.generic-digiposte-main-p-1 {
  margin-bottom: 16px;
}

.generic-digiposte-main-p-half-bold {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

.generic-digiposte-main-p-italic {
  font-style: italic;
}

.link-active {
  height: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-decoration: none;
  color: #393939;
}

.lang-chooser {
  position: absolute;
  margin-top: 100px;
  margin-left: -66px;

  border: solid 1px #e0e0e8;
  border-radius: 4px;
  background: white;
  display: flex;
  flex-direction: column;
  height: 4em;
  justify-content: space-around;
}

.lang-chooser-element {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 7em;
  height: 100%;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-decoration: none;
  color: #393939;
}

.lang-chooser-element:hover:nth-child(1) {
  background-color: #5c5bff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #ffffff;
}

.lang-chooser-element:hover:nth-child(2) {
  background-color: #5c5bff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #ffffff;
}

.translate-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35px;
}

.translate-button-img {
  height: 1em;
  width: 1em;
}

[hidden] {
  display: none;
}

a {
  color: #5c5bff;
}

h3 {
  color: #393939;
}

.download-app {
  display: none;
}

.footer .links .link:first-child {
  padding-left: 115.5px;
}

.footer .links .translate-button:last-child {
  padding-right: 115.5px;
}

@media only screen and (max-width: 960px) {
  .line-separator {
    margin: 0 5px;
  }

  .footer .links .link:first-child {
    padding-left: initial;
  }

  .footer .links .translate-button:last-child {
    padding-right: initial;
  }

  .footer .links {
    padding-right: 66.5px;
    padding-left: 66.5px;
    width: initial;
  }

  .footer {
    margin-top: 48px;
  }

  .footer .info {
    margin-top: 40px;
  }

  .header {
    width: 100%;
    height: initial;
    display: flex;
    padding-top: 24.5px;
    padding-left: 16px;
  }

  .header-buttons {
    padding-right: 24.5px;
  }

  body {
    display: initial;
    margin: 0;
    height: initial;
  }

  .generic-digiposte-main-h1 {
    margin-bottom: 32px;
    margin-top: 32px;
    text-align: center;
  }

  .generic-digiposte-main {
    padding: 32px 16px 32px 16px;
  }

  .generic-digiposte-container {
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer .links .link:first-child {
    padding-left: initial;
  }

  .footer .links .translate-button:last-child {
    padding-right: initial;
  }

  .generic-digiposte-container {
    width: 100%;
    padding-left: 0;
  }

  .header-buttons {
    display: none;
  }

  .footer {
    margin-top: 40px;
  }

  body {
    display: initial;
    margin: 0;
    height: initial;
  }

  .header {
    width: 100%;
    height: initial;
    display: block;
    padding-top: 20px;
    padding-left: 16px;
  }

  .generic-digiposte-main-h1 {
    margin-bottom: 56px;
    margin-top: 32px;
    text-align: left;
    padding-left: 16px;
  }

  .generic-digiposte-main {
    padding: 32px 16px 32px 16px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer .links {
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    margin: initial;
  }

  .line-separator {
    background-color: #e0e0e8;
    height: 1px;
    width: 100%;
    margin: 12px 0 10px 0;
  }
  .download-app {
    height: 64px;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: 0 2px 10px 0 rgba(60, 60, 60, 0.2);
    background-color: #ffffff;
  }
  .download-app-quit {
    padding-left: 10px;
  }
  .download-app-logo {
    width: 40px;
    height: 40px;
    padding-left: 10px;
  }
  .download-app-text {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #393939;
  }
  .download-app-text span:nth-child(2) {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #75787b;
  }

  .download-app-link {
    margin-left: 46px;
    border-radius: 4px;
    background-color: #5c5bff;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .download-app-link span {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    padding: 10px 16px 10px 16px;
  }
}
